@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

.nav-icon {
  width: 20px;
  height: 20px;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

::-webkit-scrollbar {
  width: 0px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.isReadIndicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #0bea7a;
}

.adminTable {
  background-color: #161c23;
  padding-inline: 6px;
  border: 1px solid #2a3035;
  border-radius: 8px;
}

/* bg="gray.dark"
      p={6}
      borderRadius="sm"
      border="1px"
      borderColor="gray.light" */
